<div class="container center">
    <h2 class="teal-text text-accent-4">My Goals</h2>
    <div class="row center">
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title activator"><b>Squating 300lb</b> <i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange darken-2" style="width: 40%"></div>
                    </div>
                    <p class="progress-num">
                        <b>
                            <span class="num">120</span>
                            <span>/</span>
                            <span class="den"> 300</span>
                            <span class="unit">lb</span>
                            <span>complete</span>
                        </b>
                    </p>
                    <a class="btn-add-pt waves-effect waves-light green btn">+</a>
                    <a class="btn-minus-pt waves-effect waves-light green btn">-</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Finish Online Course</b> <i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange darken-2" style="width: 10%"></div>
                    </div>
                    <p class="progress-num">
                        <b>
                            <span class="num">10</span>
                            <span>/</span>
                            <span class="den"> 100</span>
                            <span class="unit">videos</span>
                            <span>complete</span>
                        </b>
                    </p>
                    <a class="btn-add-pt waves-effect waves-light green btn">+</a>
                    <a class="btn-minus-pt waves-effect waves-light green btn">-</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Finish Reading Wikipedia</b><i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange darken-2" style="width: 1%"></div>
                    </div>
                    <p class="progress-num">
                        <b>
                            <span class="num">10</span>
                            <span>/</span>
                            <span class="den"> 1000</span>
                            <span class="unit">pages</span>
                            <span>complete</span>
                        </b>
                    </p>
                    <a class="btn-add-pt waves-effect waves-light green btn">+</a>
                    <a class="btn-minus-pt waves-effect waves-light green btn">-</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Make My Own Projects</b><i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange darken-2" style="width: 50%"></div>
                    </div>
                    <p class="progress-num">
                        <b>
                            <span class="num">5</span>
                            <span>/</span>
                            <span class="den">10</span>
                            <span class="unit">projects</span>
                            <span>complete</span>
                        </b>
                    </p>
                    <a class="btn-add-pt waves-effect waves-light green btn">+</a>
                    <a class="btn-minus-pt waves-effect waves-light green btn">-</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

</div>