<div class="container center">
    <h2 class="teal-text text-accent-4">My Goals</h2>
    <div class="row center">
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Squating 300lb</b> <i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange" style="width: 70%"></div>
                    </div>
                    <p>120/300 lb complete</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Finish Online Course</b> <i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange" style="width: 30%"></div>
                    </div>
                    <p>10/100 videos complete</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Finish Reading Wikipedia</b><i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange" style="width: 1%"></div>
                    </div>
                    <p>1/1000 pages complete</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card  light-blue darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title  activator"><b>Make My Own Projects</b><i class="material-icons right">more_vert</i></span>
                    <div class="progress white">
                        <div class="determinate orange" style="width: 50%"></div>
                    </div>
                    <p>10/20 complete</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

</div>