<div class="container center">
    <div class="row">
        <h1 class="teal-text text-accent-4">Life Dashboard</h1>
        <div class="center col s12 m8 offset-m2" style="margin-bottom: 2%; margin-top: -4%">
            <canvas id="chartMy2"></canvas>
        </div>
        <div class="col s12 flow-text">
            <h5>20 of 85 years - 23% complete</h5>
            <a class="waves-effect waves-light btn modal-trigger green" href="#modal1">Click me!</a>
        </div>
      <!--    <div class="row">

            <div class="col s4">
                &lt;!&ndash; Promo Content 1 goes here &ndash;&gt;
            </div>
            <div class="col s4">
                &lt;!&ndash; Promo Content 2 goes here &ndash;&gt;
            </div>
            <div class="col s4">
                &lt;!&ndash; Promo Content 3 goes here &ndash;&gt;
            </div>

        </div>
   -->
    </div>
</div>
