<div id="modal1" class="modal  flow-text">
    <div class="modal-content">
        <h4>Hello There!</h4>
        <p>Is it possible to travel faster than light?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">One Day!</a>
        <a class="waves-effect btn-flat"><i class="material-icons waves-light right">cloud</i>Nah</a>
        <a class="waves-effect btn-flat"><i class="material-icons waves-light right">cloud</i>Not possible!</a>
    </div>
</div>