	<nav class="center">
	 <div class="green lighten-1  flow-text nav-wrapper">
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="left hide-on-med-and-down">
			<li><a href="{{site.baseurl}}/index.html">Home</a></li>
			<li><a href="{{site.baseurl}}/about.html">About</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="{{site.baseurl}}/index.html">Home</a></li>
			<li><a href="{{site.baseurl}}/about.html">About</a></li>
		</ul>
	 </div>
	</nav>