<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	{% include nav.html %}
	{% include header.html %}
	<div class="divider"></div>
	{% include goals.html %}
	<div class="divider"></div>
	{% include definition-life.html %}
	<div class="divider"></div>
	{% include quotes.html %}


	<!--<div class="divider"></div>-->
	<!--{% include videos.html %}-->
	<!--<div class="divider"></div>-->
	<!--{% include books.html %}-->

	{% include modal.html %}
	{% include scripts.html %}
	<script type="text/javascript" src="{{site.baseurl}}/assets/js/dashboard-script.js"></script>
</body>
<footer>
	{% include nav.html %}
</footer>
</html>